@media (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        
    }
    .principal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .lado-roxo {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .lado-branco {
        border-radius: 0px;
    }
    .lado-roxo .seu-resultado {
        margin: 15px 0px;
    }
}